@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
}

main {
  position: relative;
  z-index: 10;
  text-align: center;
  padding-top: 10vh;
}

.logo {
  max-width: 300px;
  filter: drop-shadow(0 0 10px #00ffffaa);
}

h1 {
  font-size: 2.5em;
  margin: 20px 0 10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background: transparent;
    border: 2px solid #00ffff;
    color: #00ffff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .buttons .btn:hover {
    background: #00ffff;
    color: #000;
  }
  
  .buttons .discord {
    border-color: #5865F2;
    color: #5865F2;
  }
  
  .buttons .discord:hover {
    background: #5865F2;
    color: white;
  }
  

.confirmation {
    text-align: center;
    margin-top: 100px;
  }
  
  .confirmation h2 {
    color: #00ffff;
    margin-bottom: 10px;
  }
  
  .confirmation p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  input#emailInput {
    padding: 12px;
    font-size: 1em;
    width: 280px;
    border-radius: 10px;
    border: none;
    margin-bottom: 12px;
    outline: none;
    text-align: center;
  }
  
  #buyButton {
    cursor: pointer;
  }
  
  .cancelled {
    text-align: center;
    margin-top: 100px;
  }
  
  .cancelled h2 {
    color: red;
    margin-bottom: 10px;
  }
  